:root {
  --product-white: #fff;
  --product-red: #ee1212;
  --product-green: #3b990f;
  --product-gray: #808080;
  --product-brown: #413e01;
  --product-yellow: #fffa87;
  --background-gray: #ecebeb;
  --product-light-red: #e2dfdf;
}

body {
  background-color: #ecebeb;
  font-family: "Inter", Arial, sans-serif;
}

.bestseller-badge {
  background-color: var(--product-yellow);
  color: var(--product-brown);
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  top: 30px;
  left: 0px;
  border-radius: 0 5px 5px 0;
}

.discount-badge {
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 16px;
}

.product-card {
  width: 450px;
  background-color: var(--product-white);
  padding: 16px;
  position: relative;
}

.product-image-container {
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 4px;
}

.product-description {
  margin-bottom: 4px;
  margin-top: 0;
}

/* PRODUCT INFO */
.product-info-container {
  text-align: center;
  margin-bottom: 8px;
}

.product-more-info {
  color: var(--product-gray);
  font-style: italic;
  text-decoration: underline;
}

/* PRODUCT SHIPPING AND STOCK CONTAINER */
.product-details-container {
  padding: 8px;
  background-color: var(--product-light-red);
  margin-bottom: 16px;
  position: relative;
}

.product-shipping-label {
  color: var(--product-red);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px;
  border: 1px solid var(--product-red);
  background-color: var(--product-white);
  border-radius: 6px;
}

.product-stock-label {
  color: var(--product-green);
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  position: absolute;
  top: 16px;
  right: 16px;
}

/* PRODUCT PRICE LABEL */
.product-price-label-container {
  text-align: left;
  margin-bottom: 8px;
}

.product-price-label {
  font-weight: bold;
}

/* PRODUCT PRICE */
.product-price-container {
  text-align: left;
  margin-bottom: 8px;
}

.product-price {
  color: var(--product-gray);
  text-decoration: line-through;
}

/* PRODUCT DISCOUNT PRICE */
.product-discount-price-container {
  text-align: left;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-discount-price {
  font-size: 28px;
}

/* PRODUCT BUTTON */
.product-add-to-cart-container {
}

.add-to-cart-button {
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  border-radius: 30px;
}

/* div,
span,
h1,
p {
  border: 1px solid black;
} */
