* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
}

.article-wrapper {
  display: flex;
  gap: 32px;
  width: 70%;
  margin: 32px auto;
  background-color: #fff;
  padding: 32px;
}

.article {
}

.article-heading {
  margin-bottom: 16px;
}

.article-text {
  font-size: 20px;
}

.article-img {
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
